page-login {

  .login-page{
    //background-color: #5784ff;
    background-image: url("../assets/img/fondo1.jpg");
    //background-image: url("../assets/img/fondo2.jpg");
    background-size: cover;
    display: flex;
  }

  .login-page .icon {
    font-size: 600%;
    color:  #ffffff;
  }

  .login-page .form-container {
    align-self: flex-end;
    padding-bottom: 0;
    width: 100%;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  ion-row {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  ion-item {
    background: rgba(255,255,255,.3) !important;
    color: #ffffff !important;
  }

  ion-label {
    color: #ffffff !important;
  }

}
